/*
 * Start Bootstrap - Full Width Pics (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
.header-image{
    text-align: center;
    color: #fff;
    background: url('../img/background.jpg');
}

.black-bg{
    display: inline-block;
    background: url('../img/black_middle.png') repeat;
    position: relative;
    height: 205px;
}

.black-bg:before{ 
    content: '';
    background: url('../img/black_left.png');
    width: 50px;
    height: 205px;
    position: absolute;
    top: 0;
    left: -50px; 
}
.black-bg:after{ 
    content: '';
    background: url('../img/black_right.png');
    width: 70px;
    height: 205px;
    position: absolute;
    top: 0;
    right: -70px;
}

.header-image h1{
    color: #fff;
    font-size: 81px;
    text-transform: uppercase;
}
.products-list li{
    display: inline-block;
    list-style: none;
}
.unlock{
    background: url('../img/friday_unlock.png');
    height: 30px;
    width: 22px;
    display: inline-block;
}
.stem{
    background: url('../img/friday_stem.png');
    height: 30px;
    width: 31px;
    display: inline-block;
}
.lamp{
    background: url('../img/friday_lamp.png');
    height: 32px;
    width: 21px;
    display: inline-block;
}
.energy{
    background: url('../img/friday_energy.png');
    height: 32px;
    width: 22px;
    display: inline-block;
}
.car{
    background: url('../img/friday_car.png');
    height: 30px;
    width: 30px;
    display: inline-block;
}


.image-bg-fluid-height,
.image-bg-fixed-height {
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.img-center {
	margin: 0 auto;
}

section {
    padding: 75px 0;
}

.section-heading {
    margin: 30px 0;
    font-size: 4em;
}

.section-lead {
    margin: 30px 0;
}

.section-paragraph {
    margin: 30px 0;
}
.category-btn{
    background: #2b2b2b;
    text-transform: uppercase;
    color: #fff;
}
footer {
    margin: 50px 0;
}

@media(max-width:768px) {
    section {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .section-heading {
        font-size: 2em;
    }
}

@media (min-width: 768px)
{
    .navbar-header
    {
        float: none;
    }

    .navbar-toggle
    {
        display: block;
    }

    .navbar-collapse.collapse
    {
        display: none !important;
    }
}