@red: #ff3838;

body, html{
    font-family: 'Roboto', sans-serif;
    background: #f7fafc;
}

p{
    font-size: 14px;
    line-height: 19px;
}

a:hover{
	cursor: pointer;
}
img{
	max-width: 100%;
}
.header-image{
    text-align: center;
    color: #fff;
    background: url('../img/background.jpg');
    h1{
	    color: #fff;
	    font-size: 81px;
	    font-weight: bold;
	    text-transform: uppercase;
	    letter-spacing: 5px;
	    margin: 25px 20px 25px;
	}
	h2{
	    font-size: 32px;
	    text-transform: uppercase;
	    letter-spacing: 2px;
	    margin: 45px 0 0;
	}
	p{
    	line-height: 21px;
        margin: 0 6%;
	}
}
.navbar-header {
    float: none;
}
.brand{
	display: inline-block;
}
.top-navbar{
	position: relative;
	padding: 38px 0;
}
.menu{
	position: absolute;
	left: 0;
	top: 38px;
}
.chat{
	position: absolute;
    right: 0;
    top:38px;
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 999999;

    .overlay-content {
	    position: relative;
	    top: 0;
	    width: 100%;
	    margin: 0;
	    padding: 25px 40px;
	    form{
	    	display: inline-block;
    		margin-left: 20px;
	    }
	}

    a {
	    padding: 8px;
	    text-decoration: none;
	    color: #000;
	    display: block;
	    transition: 0.3s;
	    &:hover, &:focus {
			color: #f1f1f1;
	    }
	}
	.closebtn {
	    font-size: 56px;
	    border: 0;
	    padding: 0;
	    display: inline-block;
	    float: left;
	    width: 22px;
	    height: 22px;
	    margin-left: 12px;
	    background: url('../img/close.png');
	    background-size: cover;
    	margin-top: 8px;
    	&:hover{
    		 background: url('../img/close.png');
    		 background-size: cover;
        }
	}
}
.search-form{
	position: relative;
	margin-bottom: 20px !important;
	input{
	  height: 40px;
      padding-right: 32px;
      border-radius: 0;
	}
}
.go-search{
	 content: '';
	 display: inline-block;
	 border: 0;
	 background: url('../img/search.png') no-repeat;
	 width: 20px;
     height: 20px;
     background-size: cover;
     position: absolute;
     right: 10px;
     top: 9px;
}
.nav>li {
    width: 100%;
    float: left;
    text-align: left;
	border-bottom: 1px solid #EBEBEB;
	a{
	  padding: 20px 16px;
	  white-space: nowrap; 
	  transition: 0.3s;
	  &:hover{
	    background: 0;
	    color: #EE6600;
	  }
	  &:not(.closebtn):after{
	  	content: '';
	    background: url('../img/arrow.png') no-repeat;
	    position: absolute;
	    height: 20px;
	    width: 12px;
	    top: 20px;
	    right: 0;
	  }
	}
}

.black-bg{
    display: inline-block;
    background: url('../img/black_middle.png') repeat;
    position: relative;
    height: 205px;
    &:before{ 
	    content: '';
	    background: url('../img/black_left.png');
	    width: 50px;
	    height: 205px;
	    position: absolute;
	    top: 0;
	    left: -50px; 
	}
	&:after{ 
	    content: '';
	    background: url('../img/black_right.png');
	    width: 70px;
	    height: 205px;
	    position: absolute;
	    top: 0;
	    right: -70px;
	}
}

.discount-up{
    color: @red;
    font-size: 81px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 7px;
    margin: 5px 0 14px;
}
.flip-clock-wrapper{
	margin: 2em;
}
.products-list{
    float: left;
    margin: 0;
    margin-top: 44px;
    width: 100%;
    background: rgba(8, 8, 8, 0.25);
	span{
	    text-align: left;
	    display: inline-block;
	    vertical-align: middle;
	}
	i{
	    vertical-align: middle;
	    margin-right: 18px;
	}
	> div{
	    font-size: 14px;
	    text-align: left;
	    padding: 0;
	}
	a{
		display: block;
		color: #fff;
		padding: 0 15px;
		line-height: 70px;
		&:hover{
			background: #222;
			text-decoration: none;
		}
		span{
			line-height: 21px;
		}
	}
}

.unlock{
    background: url('../img/friday_unlock.png');
    height: 30px;
    width: 22px;
    display: inline-block;
}
.stem{
    background: url('../img/friday_stem.png');
    height: 31px;
    width: 30px;
    display: inline-block;
}
.lamp{
    background: url('../img/friday_lamp.png');
    height: 32px;
    width: 21px;
    display: inline-block;
}
.energy{
    background: url('../img/friday_energy.png');
    height: 32px;
    width: 22px;
    display: inline-block;
}
.car{
    background: url('../img/friday_car.png');
    height: 30px;
    width: 30px;
    display: inline-block;
}

.discount{
    background: url('../img/labe.png');
    color: @red;
    width: 191px;
    height: 80px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    text-align: left;
    padding: 10px 25px;
}

.product-box {
    background: #fff;
    border: 1px solid #e5e5e5;
    padding: 0 22px;
    padding-bottom: 22px;
    margin-top: 8px;
}

.box-image{
	float: left;
	width: 45%;
	padding: 25px 28px 0 0;
	img{
		vertical-align: top;
		display: inline-block;
	}
}
.box-price{
	margin-top: 22px;
	width: 55%;
	float: left;
}
.buy-now{
    background: url('../img/buy.png');
    background-position: 0 0;
    text-transform: uppercase;
    color: #fff;
    padding: 11px 34px;
    width: 130px;
    height: 40px;
    margin: 20px 0;
    display: inline-block;
    &:hover{
	     background-position: 0 40px;
	     color: #fff;
	     text-decoration: none;
	     cursor: pointer;
	}
}

.old-price{
	text-decoration: line-through;
	display: inline-block;
}
.new-price{
	display: inline-block;
	color: #ff6060;
	font-size: 20px;
	font-family: Arial;
	font-weight: bold;
}
.see-more{
	display: inline-block;
	color: #000;
	&:hover{
		color: @red;
	    text-decoration: none;
	    cursor: pointer;
	}
	&:after{
		content: '';
		width: 16px;
		height: 16px;
		display: inline-block;
		vertical-align: middle;
	    margin-left: 5px;
		background: url('../img/see_more.png');
		background-position: 0 0;
	}
	&:hover:after{
		content: '';
		background-position: 0 16px;
	}
}

section {
    padding: 54px 0;
}
.blue{
	background: #eceff1;
}
.section-heading {
    margin: 30px 0 45px 80px;
    font-size: 51px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    color: #343434;
}

.section-lead {
    display: inline-block;
    margin: 22px 0 15px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 21px;
    color: #333;
    font-size: 14px;
    transition: 0.3s;
    &:hover{
    	text-decoration: none;
    	color: #333;
    }
}

.section-paragraph {
    margin: 15px 0 30px 0;
}

.btn-place{
	text-align: center;
	margin: 30px 0;
}

.category-btn{
	background: #ffffff;
	color: #758085;
    text-transform: uppercase;
    font-size: 20px;
    font-family: Arial;
    border-radius: 0;
    width: 380px;
    padding: 15px 0;
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    &:hover{
	 	background: #2b2b2b;
	 	color: #fff;
	}
}
.goto-arrow{
	width: 15px;
	height: 10px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 15px;
	background: url('../img/goto_arrow.png');
}

.time-over{
	display: none;
	min-height: 100vh;
	h2{
		color: #595959;
	    font-weight: bold;
	    font-size: 81px;
	    margin: 30px 7%;
	    line-height: 78px;
	}
	.btn{
	    margin: 58px 0 110px;
	    color: #fff;
	    background: none;
	    border: 1px solid #fff;
	    border-radius: 0;
	    text-transform: uppercase;
	    letter-spacing: 1px;
	    font-size: 20px;
	    padding: 15px 27px;
	}
}

@media(max-width:1200px) {

	.box-image {
	    padding: 5px 15px 0 0;
	}
	.box-price {
	    margin-top: 12px;
	}

	.products-list{
		i {
		    margin-right: 0;
		}
		span{
		    display: block;
	    	width: 100%;
	    	text-align: center;
		}
		> div{
			 text-align: center;
		}
	}
	.products-list a{
    	padding: 10px 0;
    	.stem + span{
    		margin-top: -11px;
    		line-height: 16px;
    	}
    }
}

@media(max-width:992px) {
	.section-heading{
		margin-left: 0;
		padding-right: 15px;
    	padding-left: 15px;
    	text-align: left;
    }
	.section-lead, .section-paragraph{
    	width: 55%;
    	float: right;
    }
    .section-paragraph{
    	margin: 5px 0 10px 0;
    }
    .see-more{
    	display: none;
    }
    .new-price {
    	display: block;
	}
	.box-image{
		text-align: center;
	}
	.product-box{
		margin-top: 0;
	}
	.header-image h1, .discount-up{
    	font-size: 62px;
    	line-height: 81px;
    }

}
@media(max-width:768px) {
    section {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .section-heading {
        font-size: 2em;
    }

    .section-paragraph{
    	display: none; 
    }
    .products-list{
    	> div {
	    	width: 20%;
		}
		.one{
			display: none;
		}
	}
	.top-navbar{
		margin: 0 15px;
	}
	.discount { 
	    height: auto;
	    width: auto;
	    background-size: cover;
	    margin: 0;
	    padding: 10px 8px;
	    line-height: 20px;
	    font-size: 22px;
	    padding-right: 32px;
	}
	.header-image h1, .discount-up{
    	font-size: 52px;
    }
    .time-over h2{
    	font-size: 52px;
    }
    .time-over .btn{
    	margin-top: 18px;
    }
}
@media(max-width:640px) {

	.header-image h1, .discount-up{
    	font-size: 42px;
    	line-height: 62px;
    }
    .header-image h2{
    	font-size: 22px;
    	line-height: 40px;
    }
    .btn-place{
    	margin: 40px 0;
    }

	.time-over{
		h2{
	    	font-size: 42px;
        	line-height: 60px;
    	}
    	img{
        	width: 100px;
        }
    	.btn{
	    	font-size: 18px;
	    }
	 }
}

@media(max-width:540px) {
	.black-bg{
		background: none;
		&:after{
			display: none;
		}
	    &:before{
			display: none;
		}
	}
	.flip-clock-wrapper{
		margin: 0;
	}
	.products-list > div {
	    padding: 0;
	    font-size: 12px;
	}
	.products-list span{
	    width: 60px;
	    margin: 0 auto;
	}
	.products-list a .stem + span{
		margin-top: 2px;
    	line-height: 13px;
	}

	.time-over .btn { 
		display: flex; 
		justify-content: center; 
		width: 95%; 
		margin: auto; 
		font-size: 12px; 
		letter-spacing: 0;
		padding: 15px 0px; 
	}

}
@media(max-width:460px) {
	.discount{
		height: auto;
		margin: 0;
	    padding: 5px 8px;
	    line-height: 20px;
	    padding-right: 12px;
	    font-size: 20px
	}
	.section-heading{
		font-size: 20px;
	}
	.box-image {
	    width: 35%;
	    padding: 10px 0;
	}
	.section-lead{
	    width: 65%;
	    padding-left: 10px;
	    float: right;
	    font-size: 13px;
	    margin-bottom: 0;
    }
	.box-price{
		padding-left: 10px;
	}
	.product-box{
		padding: 0 10px;
	}
	.flip-clock-wrapper ul{
		width: 30px;
		padding: 5px 0;
	}

	.category-btn{
		width: 300px;
	}
	.overlay .closebtn{
		margin-left: 0;
	}
	.overlay .overlay-content form {
	    display: block;
	    margin-left: 10px;
	    float: left;
	}
}